@page "/plantcatalogue"

<style>
    body {
        background-color:olivedrab;
    }
</style>
<h1>Plant Catalogue</h1>
<h4>For all of your planting needs!</h4>

<table class="table">
    <thead style="color:azure">
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Zone</th>
            <th>Description</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Rainier Cherry</td>
            <td>Fruit Tree</td>
            <td>5 - 8</td>
            <td>Delicious Yellow Cherries</td>
            <td>$10</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <td>Meyer Lemon</td>
            <td>Fruit Tree</td>
            <td>8 - 11</td>
            <td>Tasty Lemons</td>
            <td>$12</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <td>Blackberry</td>
            <td>Shrub</td>
            <td>7 - 9</td>
            <td>The Juciest Blackberries You've Ever Experienced</td>
            <td>$8</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <td>Dwarf Balsam Fir</td>
            <td>Ornamental Tree</td>
            <td>3 - 6</td>
            <td>Bitchin Decorative Coniferous Tree</td>
            <td>$15</td>
        </tr>
    </tbody>
</table>

@code {


}

